.bm-overlay-closed {
    width: 0;
    height: 0;
    position: relative;
  }

  .bm-burger-button {
    position: relative;
    left: 20px;
    top: 42px;
  }

  .bm-burger-button-close {
    position: absolute;
    left: 20px;
    bottom: 75px;
  }

