.trainer-selection {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 0.75rem;
  }

.trainer-dropdown {
    display: inline-block;
    margin-left: 50%;
    padding: 10px;
    background-color: #524a4e; 
    color: white;
  }
  
  .trainer-dropdown:hover {
    background-color: #47353e;
  }

  /* small devices */
  @media only screen and (max-width: 600px) {
    .trainer-selection {
      font-size: 0.25rem;
      margin-bottom: 2px;
    }
    .trainer-dropdown {
      margin-left: 0%;
      padding: 2px;
    }
  }

  /* medium devices */
  @media only screen and (min-width: 600px) {
    .trainer-selection {
      font-size: 0.5rem;
    }
    .trainer-dropdown {
      margin-left: 10%;
      padding: 5px;
    }
  }

  /* large devices */
  @media only screen and (min-width: 992px) {
    .trainer-selection {
      font-size: 0.75rem;
    }
    .trainer-dropdown {
      margin-left: 8%;
      padding: 10px;
    }
  }