.navbar {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    width: 100%;
}

.navbar a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #555;
    color: #f0d9cb;;
}

.navbar .container {
    max-width: 100% !important;
}

.logo {
    height: 70px;
    width: auto;
    margin-right: 10px;
}

.brand-text {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #f0d9cb;
    white-space: nowrap;
}