.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top */
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    background-color: #47353d;
    padding: 20px;
    border-radius: 5px;
    width: 185px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border: 2px solid #f0d9cb;
  }

  .modal-content-result {
    display: flex;
    flex-direction: column;
    background-color: #47353d;
    padding: 10px;
    border-radius: 5px;
    width: 160px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border: 2px solid #f0d9cb;
  }

  .report-winner {
    margin-left: 5%;
    margin-top: 4%;
    margin-bottom: 4%;
    color: rgb(243, 229, 229);
    width: 160px;
  }

  .back-button {
    margin-left: 5%;
    margin-top: 4%;
    color: rgb(243, 229, 229);
    width: 75px;
    text-align: left;
  }

  /* Media Query for Mobile Screens */
@media only screen and (max-width: 600px) {
  .modal-content {
      height: 190px;
      padding: 10px; /* Reduce padding for mobile */
  }

  .modal-content-result {
    height: 160px;
    padding: 10px; /* Reduce padding for mobile */
  }

  .report-winner {
      margin-left: 2%; /* Adjust margin for mobile */
      width: auto; /* Allow the width to adjust based on content and available space */
  }

  .back-button {
      margin-left: 2%;
      width: 60px /* Adjust margin for mobile */
  }
}