table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  /* Table headers */
  th {
    background-color: rgb(234, 93, 93);
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid #ddd;
  }
  
  /* Table rows */
  tr {
    border-bottom: 1px solid #ddd;
  }
  
  /* Table data */
  td {
    padding: 10px;
    text-align: left;
  }

  .center-td {
    text-align: center;
  }

  